calfram @ git+https://github.com/lorenzofamiglini/CalFram.git@13f004b81fd55034bd25b818287aa0e09536ca9a
pearsonify @ git+https://github.com/xRiskLab/pearsonify.git@b4d208b05f16dfd4dc33aa085d17ec6b0ec00878
xgboost==3.0.2 
catboost==1.2.8
lightgbm==4.6.0
pytorch-tabular==1.1.1
tabpfn==2.1.0
betacal==1.1.0
venn-abers==1.4.6
openml==0.15.1
pandas==2.2.3 
numpy==1.26.4
psutil==7.0.0 
pycaleva==0.8.2
scikit-learn==1.5.2
diskcache==5.6.3
